<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kalkulačka</title>
</head>
<body>
    <h1>Kalkulačka</h1>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="a">
            <select name="operator">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
        <input type="text" name="b">
        <input type="submit">


    </form>
    <h2>{{vysledok}}</h2>
</body>
</html>